/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
}

body {
    background-color: #A9A9A9;
}


.img h2 {
    display: flex;
    justify-content: center;
    margin-left: 450px;
    z-index: 99;
    position: absolute;
    top: 30px;

} */